<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Block_10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{2, 102}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Scared face_r_eye</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>textureRect</key>
			<string>{{121, 25}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chill_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43, 34}</string>
			<key>spriteSourceSize</key>
			<string>{43, 34}</string>
			<key>textureRect</key>
			<string>{{310, 110}, {43, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chill_face_eyesa</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 10}</string>
			<key>spriteSourceSize</key>
			<string>{21, 10}</string>
			<key>textureRect</key>
			<string>{{144, 25}, {21, 10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>chill_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26, 28}</string>
			<key>spriteSourceSize</key>
			<string>{26, 28}</string>
			<key>textureRect</key>
			<string>{{2, 2}, {26, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>death</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{156, 102}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>err_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40, 23}</string>
			<key>spriteSourceSize</key>
			<string>{40, 23}</string>
			<key>textureRect</key>
			<string>{{380, 193}, {40, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>excited_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68, 70}</string>
			<key>spriteSourceSize</key>
			<string>{68, 70}</string>
			<key>textureRect</key>
			<string>{{310, 184}, {68, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>excited_face_eyesa</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 14}</string>
			<key>spriteSourceSize</key>
			<string>{21, 14}</string>
			<key>textureRect</key>
			<string>{{121, 2}, {21, 14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>excited_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40, 57}</string>
			<key>spriteSourceSize</key>
			<string>{40, 57}</string>
			<key>textureRect</key>
			<string>{{149, 60}, {40, 57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>normal_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68, 36}</string>
			<key>spriteSourceSize</key>
			<string>{68, 36}</string>
			<key>textureRect</key>
			<string>{{310, 146}, {68, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>normal_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34, 22}</string>
			<key>spriteSourceSize</key>
			<string>{34, 22}</string>
			<key>textureRect</key>
			<string>{{208, 78}, {34, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scared_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68, 52}</string>
			<key>spriteSourceSize</key>
			<string>{68, 52}</string>
			<key>textureRect</key>
			<string>{{79, 48}, {68, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>scared_face_eyesb</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 13}</string>
			<key>spriteSourceSize</key>
			<string>{21, 13}</string>
			<key>textureRect</key>
			<string>{{137, 2}, {21, 13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>scared_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{40, 44}</string>
			<key>textureRect</key>
			<string>{{79, 2}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy face_snore</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{75, 68}</string>
			<key>textureRect</key>
			<string>{{2, 32}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68, 36}</string>
			<key>spriteSourceSize</key>
			<string>{68, 36}</string>
			<key>textureRect</key>
			<string>{{380, 218}, {68, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40, 18}</string>
			<key>spriteSourceSize</key>
			<string>{40, 18}</string>
			<key>textureRect</key>
			<string>{{450, 236}, {40, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Block8.png</string>
		<key>textureFileName</key>
		<string>Block8.png</string>
	</dict>
</dict>
</plist>
