<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>05/chill_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44, 39}</string>
			<key>spriteSourceSize</key>
			<string>{44, 39}</string>
			<key>textureRect</key>
			<string>{{79, 57}, {44, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05/err_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44, 24}</string>
			<key>spriteSourceSize</key>
			<string>{44, 24}</string>
			<key>textureRect</key>
			<string>{{2, 2}, {44, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05/excited_face_eyesa</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>textureRect</key>
			<string>{{125, 75}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05/excited_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56, 55}</string>
			<key>spriteSourceSize</key>
			<string>{56, 55}</string>
			<key>textureRect</key>
			<string>{{310, 195}, {56, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05/normal_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44, 39}</string>
			<key>spriteSourceSize</key>
			<string>{44, 39}</string>
			<key>textureRect</key>
			<string>{{310, 154}, {44, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05/scared_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44, 39}</string>
			<key>spriteSourceSize</key>
			<string>{44, 39}</string>
			<key>textureRect</key>
			<string>{{368, 211}, {44, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05/sleepy_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34, 19}</string>
			<key>spriteSourceSize</key>
			<string>{34, 19}</string>
			<key>textureRect</key>
			<string>{{79, 36}, {34, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Block_10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{2, 98}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chill_face_eyes</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 11}</string>
			<key>spriteSourceSize</key>
			<string>{21, 11}</string>
			<key>textureRect</key>
			<string>{{310, 141}, {21, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>death</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{156, 98}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy face_snore</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{75, 68}</string>
			<key>textureRect</key>
			<string>{{2, 28}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Block5.png</string>
		<key>textureFileName</key>
		<string>Block5.png</string>
	</dict>
</dict>
</plist>
