<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>06/chill_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72, 37}</string>
			<key>spriteSourceSize</key>
			<string>{72, 37}</string>
			<key>textureRect</key>
			<string>{{310, 137}, {72, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/chill_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31, 19}</string>
			<key>spriteSourceSize</key>
			<string>{31, 19}</string>
			<key>textureRect</key>
			<string>{{458, 226}, {31, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/err_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72, 37}</string>
			<key>spriteSourceSize</key>
			<string>{72, 37}</string>
			<key>textureRect</key>
			<string>{{384, 208}, {72, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/err_face_eyes_l</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 16}</string>
			<key>spriteSourceSize</key>
			<string>{21, 16}</string>
			<key>textureRect</key>
			<string>{{196, 75}, {21, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/err_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31, 19}</string>
			<key>spriteSourceSize</key>
			<string>{31, 19}</string>
			<key>textureRect</key>
			<string>{{491, 214}, {31, 19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06/excited_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{73, 63}</string>
			<key>spriteSourceSize</key>
			<string>{73, 63}</string>
			<key>textureRect</key>
			<string>{{79, 28}, {73, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/excited_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48, 46}</string>
			<key>spriteSourceSize</key>
			<string>{48, 46}</string>
			<key>textureRect</key>
			<string>{{384, 160}, {48, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/normal_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72, 37}</string>
			<key>spriteSourceSize</key>
			<string>{72, 37}</string>
			<key>textureRect</key>
			<string>{{384, 208}, {72, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/normal_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40, 17}</string>
			<key>spriteSourceSize</key>
			<string>{40, 17}</string>
			<key>textureRect</key>
			<string>{{310, 118}, {40, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/scared_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72, 69}</string>
			<key>spriteSourceSize</key>
			<string>{72, 69}</string>
			<key>textureRect</key>
			<string>{{310, 176}, {72, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/scared_face_eyes_l</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 14}</string>
			<key>spriteSourceSize</key>
			<string>{21, 14}</string>
			<key>textureRect</key>
			<string>{{384, 144}, {21, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/scared_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40, 57}</string>
			<key>spriteSourceSize</key>
			<string>{40, 57}</string>
			<key>textureRect</key>
			<string>{{154, 34}, {40, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/sleepy_face_beard</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72, 37}</string>
			<key>spriteSourceSize</key>
			<string>{72, 37}</string>
			<key>textureRect</key>
			<string>{{384, 208}, {72, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/sleepy_face_eyes_l</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 9}</string>
			<key>spriteSourceSize</key>
			<string>{21, 9}</string>
			<key>textureRect</key>
			<string>{{434, 197}, {21, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06/sleepy_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48, 19}</string>
			<key>spriteSourceSize</key>
			<string>{48, 19}</string>
			<key>textureRect</key>
			<string>{{2, 2}, {48, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Block_10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{2, 93}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>death</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{156, 93}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy face_snore</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{75, 68}</string>
			<key>textureRect</key>
			<string>{{2, 23}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Block6.png</string>
		<key>textureFileName</key>
		<string>Block6.png</string>
	</dict>
</dict>
</plist>
