<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>07/chill_face_eyes_l</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 15}</string>
			<key>spriteSourceSize</key>
			<string>{21, 15}</string>
			<key>textureRect</key>
			<string>{{51, 15}, {21, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/chill_face_eyes_r</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20, 13}</string>
			<key>spriteSourceSize</key>
			<string>{20, 13}</string>
			<key>textureRect</key>
			<string>{{437, 241}, {20, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/chill_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47, 19}</string>
			<key>spriteSourceSize</key>
			<string>{47, 19}</string>
			<key>textureRect</key>
			<string>{{2, 11}, {47, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/chill_face_under_eyes_l</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20, 11}</string>
			<key>spriteSourceSize</key>
			<string>{20, 11}</string>
			<key>textureRect</key>
			<string>{{51, 2}, {20, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/chill_face_under_eyes_r</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20, 11}</string>
			<key>spriteSourceSize</key>
			<string>{20, 11}</string>
			<key>textureRect</key>
			<string>{{73, 2}, {20, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/err_face_eyes_l</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 18}</string>
			<key>spriteSourceSize</key>
			<string>{21, 18}</string>
			<key>textureRect</key>
			<string>{{158, 82}, {21, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/err_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47, 19}</string>
			<key>spriteSourceSize</key>
			<string>{47, 19}</string>
			<key>textureRect</key>
			<string>{{388, 235}, {47, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/excited_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47, 49}</string>
			<key>spriteSourceSize</key>
			<string>{47, 49}</string>
			<key>textureRect</key>
			<string>{{310, 171}, {47, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/normal_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77, 25}</string>
			<key>spriteSourceSize</key>
			<string>{77, 25}</string>
			<key>textureRect</key>
			<string>{{79, 75}, {77, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/scared_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76, 32}</string>
			<key>spriteSourceSize</key>
			<string>{76, 32}</string>
			<key>textureRect</key>
			<string>{{310, 222}, {76, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07/sleepy_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47, 19}</string>
			<key>spriteSourceSize</key>
			<string>{47, 19}</string>
			<key>textureRect</key>
			<string>{{79, 54}, {47, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Block_10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{2, 102}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>death</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{156, 102}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy face_l_eye</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{19, 19}</string>
			<key>textureRect</key>
			<string>{{310, 150}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy face_r_eye</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{19, 19}</string>
			<key>textureRect</key>
			<string>{{359, 201}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy face_snore</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{75, 68}</string>
			<key>textureRect</key>
			<string>{{2, 32}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Block7.png</string>
		<key>textureFileName</key>
		<string>Block7.png</string>
	</dict>
</dict>
</plist>
