<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>02/Block_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{2, 102}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/chill_face_eyes_l</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 12}</string>
			<key>spriteSourceSize</key>
			<string>{21, 12}</string>
			<key>textureRect</key>
			<string>{{386, 242}, {21, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/chill_face_eyes_r</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 12}</string>
			<key>spriteSourceSize</key>
			<string>{21, 12}</string>
			<key>textureRect</key>
			<string>{{386, 242}, {21, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/chill_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32, 11}</string>
			<key>spriteSourceSize</key>
			<string>{32, 11}</string>
			<key>textureRect</key>
			<string>{{79, 39}, {32, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/err_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54, 23}</string>
			<key>spriteSourceSize</key>
			<string>{54, 23}</string>
			<key>textureRect</key>
			<string>{{310, 150}, {54, 23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02/excited_face_eyes_l</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>textureRect</key>
			<string>{{346, 209}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/excited_face_eyes_r</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>textureRect</key>
			<string>{{346, 209}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/excited_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34, 48}</string>
			<key>spriteSourceSize</key>
			<string>{34, 48}</string>
			<key>textureRect</key>
			<string>{{310, 206}, {34, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/eyebrow_left</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42, 17}</string>
			<key>spriteSourceSize</key>
			<string>{42, 17}</string>
			<key>textureRect</key>
			<string>{{115, 83}, {42, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/eyebrow_right</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42, 17}</string>
			<key>spriteSourceSize</key>
			<string>{42, 17}</string>
			<key>textureRect</key>
			<string>{{310, 106}, {42, 17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02/normal_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65, 28}</string>
			<key>spriteSourceSize</key>
			<string>{65, 28}</string>
			<key>textureRect</key>
			<string>{{2, 2}, {65, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/scared_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34, 48}</string>
			<key>spriteSourceSize</key>
			<string>{34, 48}</string>
			<key>textureRect</key>
			<string>{{79, 52}, {34, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02/sleepy_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38, 22}</string>
			<key>spriteSourceSize</key>
			<string>{38, 22}</string>
			<key>textureRect</key>
			<string>{{346, 232}, {38, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>death</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{156, 102}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy face_snore</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{75, 68}</string>
			<key>textureRect</key>
			<string>{{2, 32}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Block2.png</string>
		<key>textureFileName</key>
		<string>Block2.png</string>
	</dict>
</dict>
</plist>
