<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>04/chill_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41, 12}</string>
			<key>spriteSourceSize</key>
			<string>{41, 12}</string>
			<key>textureRect</key>
			<string>{{79, 32}, {41, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04/err_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>textureRect</key>
			<string>{{371, 222}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04/excited_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59, 51}</string>
			<key>spriteSourceSize</key>
			<string>{59, 51}</string>
			<key>textureRect</key>
			<string>{{310, 200}, {59, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04/normal_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42, 33}</string>
			<key>spriteSourceSize</key>
			<string>{42, 33}</string>
			<key>textureRect</key>
			<string>{{310, 165}, {42, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04/scared_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59, 51}</string>
			<key>spriteSourceSize</key>
			<string>{59, 51}</string>
			<key>textureRect</key>
			<string>{{79, 46}, {59, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04/sleepy_face_mouth</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66, 25}</string>
			<key>spriteSourceSize</key>
			<string>{66, 25}</string>
			<key>textureRect</key>
			<string>{{2, 2}, {66, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Block_10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{2, 99}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>death</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152, 152}</string>
			<key>spriteSourceSize</key>
			<string>{152, 152}</string>
			<key>textureRect</key>
			<string>{{156, 99}, {152, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy face_l_eye</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{19, 19}</string>
			<key>textureRect</key>
			<string>{{140, 78}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>happy face_r_eye</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{19, 19}</string>
			<key>textureRect</key>
			<string>{{310, 144}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy face_l_eye</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19, 11}</string>
			<key>spriteSourceSize</key>
			<string>{19, 11}</string>
			<key>textureRect</key>
			<string>{{354, 179}, {19, 11}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>sleepy face_r_eye</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19, 11}</string>
			<key>spriteSourceSize</key>
			<string>{19, 11}</string>
			<key>textureRect</key>
			<string>{{371, 209}, {19, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sleepy face_snore</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75, 68}</string>
			<key>spriteSourceSize</key>
			<string>{75, 68}</string>
			<key>textureRect</key>
			<string>{{2, 29}, {75, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Block4.png</string>
		<key>textureFileName</key>
		<string>Block4.png</string>
	</dict>
</dict>
</plist>
